---
import { getPostUrlBySlug } from '@utils/url-utils';
import PostCard from './PostCard.astro';
import type { PostType } from '@utils/content-utils';
import type { Page } from 'astro';

interface Props {
  page: Page<PostType>;
}

const { page } = Astro.props;

let delay = 0;
const interval = 50;
---

<div
  class="mb-4 flex flex-col rounded-[var(--radius-large)] bg-[var(--card-bg)] py-1 transition md:gap-4 md:bg-transparent md:py-0"
>
  {
    page.data.map((entry) => {
      return (
        <PostCard
          entry={entry}
          title={entry.data.title}
          tags={entry.data.tags}
          category={entry.data.category}
          published={entry.data.published}
          updated={entry.data.updated}
          url={getPostUrlBySlug(entry.slug)}
          image={entry.data.image}
          description={entry.data.description}
          draft={entry.data.draft ?? false}
          class:list="onload-animation"
          style={`animation-delay: calc(var(--content-delay) + ${delay++ * interval}ms);`}
        />
      );
    })
  }
</div>
